{% extends "layout.html" %}

{% block main %}
    <usergroups>
        {% for user in users %}
            # implement 
        {% endfor %}

        <!-- sample demo -->
        <user>
          <!-- <i class="bi-github" role="img" aria-label="GitHub"></i> -->
          <img src="https://openmoji.org/data/color/svg/1F9D4-200D-2642-FE0F.svg"></img>
          <name>Calvin</name><score>5</score><canvas id="myChart1"></canvas>
          <script>
          var ctx1 = document.getElementById('myChart1');
            var myChart1 = new Chart(ctx1, {
              type: 'bar',
              data: {
                  labels: ['work', 'game', 'offline', 'unallocated'],
                  datasets: [{
                    label: 'time',
                    data: [24, 26, 85, .8],
                    backgroundColor: [
                        'rgba(223, 193, 60, 0.5)',
                        'rgba(223, 193, 60, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                        'rgb(200, 200, 200, 0.5)'
                    ],
                    borderRadius: 10
                  }]
              }
          });
          </script>
        </user>
        <user>
          <!-- <i class="bi-github" role="img" aria-label="GitHub"></i> -->
          <img src="https://openmoji.org/data/color/svg/1F467-1F3FB.svg"></img>
          <name>Samantha</name><score class="good">20</score><canvas id="myChart2"></canvas>
          <script>
          var ctx2 = document.getElementById('myChart2');
            var myChart2 = new Chart(ctx2, {
              type: 'bar',
              data: {
                  labels: ['work', 'game', 'offline', 'unallocated'],
                  datasets: [{
                    label: 'time',
                    data: [37, 18, 125, 10],
                    backgroundColor: [
                        'rgba(119, 255, 165, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                        'rgba(223, 193, 60, 0.5)',
                        'rgb(200, 200, 200, 0.5)'
                    ],
                    borderRadius: 10
                  }]
              }
          });
          </script>
        </user>
        <user>
          <!-- <i class="bi-github" role="img" aria-label="GitHub"></i> -->
          <img src="https://openmoji.org/data/color/svg/1F469-1F3FF.svg"></img>
          <name>Jess</name><score class="high">50</score><canvas id="myChart3"></canvas>
          <script>
          var ctx3 = document.getElementById('myChart3');
            var myChart3 = new Chart(ctx3, {
              type: 'bar',
              data: {
                  labels: ['work', 'game', 'offline', 'unallocated'],
                  datasets: [{
                    label: 'time',
                    data: [45, 13, 105, 0.1],
                    backgroundColor: [
                        'rgba(119, 255, 165, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                    ],
                    borderRadius: 10
                  }]
              }
          });
          </script>
        </user>
        <user>
          <!-- <i class="bi-github" role="img" aria-label="GitHub"></i> -->
          <img src="https://openmoji.org/data/color/svg/1F468-1F3FD.svg"></img>
          <name>Jake</name><score class="low">-10</score><canvas id="myChart4"></canvas>
          <script>
          var ctx4 = document.getElementById('myChart4');
            var myChart4 = new Chart(ctx4, {
              type: 'bar',
              data: {
                  labels: ['work', 'game', 'offline', 'unallocated'],
                  datasets: [{
                    label: 'time',
                    data: [65, 50, 23, 10],
                    backgroundColor: [
                        'rgba(223, 193, 60, 0.5)',
                        'rgba(255, 139, 139, 0.5)',
                        'rgba(255, 139, 139, 0.5)',
                        'rgb(200, 200, 200, 0.5)'
                    ],
                    borderRadius: 10
                  }]
              }
          });
          </script>
        </user>
        <user>
          <!-- <i class="bi-github" role="img" aria-label="GitHub"></i> -->
          <img src="https://openmoji.org/data/color/svg/1F468-1F3FE.svg"></img>
          <name>Berk</name><score class="bad">-45</score><canvas id="myChart5"></canvas>
          <script>
          var ctx5 = document.getElementById('myChart5');
            var myChart5 = new Chart(ctx5, {
              type: 'bar',
              data: {
                  labels: ['work', 'game', 'offline', 'unallocated'],
                  datasets: [{
                    label: 'time',
                    data: [5, 60, 8, 15],
                    backgroundColor: [
                        'rgba(255, 139, 139, 0.5)',
                        'rgba(255, 139, 139, 0.5)',
                        'rgba(255, 139, 139, 0.5)',
                        'rgb(200, 200, 200, 0.5)'
                    ],
                    borderRadius: 10
                  }]
              }
          });
          </script>
        </user>
      </usergroups>
{% endblock %}
