<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../static/style.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <!--  -->

    <title>digiscore</title>
  </head>
  <body>
    <main>
      <!-- {% block main %}{% endblock %} -->
      <usergroups>
        <user>
          <!-- <i class="bi-github" role="img" aria-label="GitHub"></i> -->
          <img src="https://imgr.search.brave.com/vXvhB6tLsIYbIspoQvnpIq_OxOY0X1ZBLjnf4Sz0iig/fit/900/900/ce/1/aHR0cDovL3d3dy5l/bW1lZ2kuY28udWsv/d3AtY29udGVudC91/cGxvYWRzLzIwMTkv/MDEvVXNlci1JY29u/LmpwZw"></img>
          <name>Calvin</name><score>5</score><canvas id="myChart1"></canvas>
          <script>
          var ctx1 = document.getElementById('myChart1');
            var myChart1 = new Chart(ctx1, {
              type: 'bar',
              data: {
                  labels: ['work', 'game', 'offline', 'unallocated'],
                  datasets: [{
                    label: 'time',
                    data: [34, 50, 23, 10],
                    backgroundColor: [
                        'rgba(223, 193, 60, 0.5)',
                        'rgba(255, 139, 139, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                        'rgb(200, 200, 200, 0.5)'
                    ],
                    borderRadius: 10
                  }]
              }
          });
          </script>
        </user>
        <user>
          <!-- <i class="bi-github" role="img" aria-label="GitHub"></i> -->
          <img src="https://imgr.search.brave.com/RpA6mXyTaFeEyxDk7YGYiw0e329nNCo6Fsl1zwUs7KE/fit/512/512/ce/1/aHR0cHM6Ly9pbWFn/ZS5mbGF0aWNvbi5j/b20vaWNvbnMvcG5n/LzUxMi8xNDYvMTQ2/MDI1LnBuZw"></img>
          <name>Samantha</name><score class="good">20</score><canvas id="myChart2"></canvas>
          <script>
          var ctx2 = document.getElementById('myChart2');
            var myChart2 = new Chart(ctx2, {
              type: 'bar',
              data: {
                  labels: ['work', 'game', 'offline', 'unallocated'],
                  datasets: [{
                    label: 'time',
                    data: [34, 23, 45, 10],
                    backgroundColor: [
                        'rgba(223, 193, 60, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                        'rgba(255, 139, 139, 0.5)',
                        'rgb(200, 200, 200, 0.5)'
                    ],
                    borderRadius: 10
                  }]
              }
          });
          </script>
        </user>
        <user>
          <!-- <i class="bi-github" role="img" aria-label="GitHub"></i> -->
          <img src="https://imgr.search.brave.com/gjgbBU8NoFyyCn3qCVqL7llJkaMS2i4TgrY5YmvkZjY/fit/512/512/ce/1/aHR0cHM6Ly93d3cu/c2hhcmVpY29uLm5l/dC9kYXRhLzIwMTYv/MDkvMTUvODI5NDUy/X3VzZXJfNTEyeDUx/Mi5wbmc"></img>
          <name>Jess</name><score class="high">50</score><canvas id="myChart3"></canvas>
          <script>
          var ctx3 = document.getElementById('myChart3');
            var myChart3 = new Chart(ctx3, {
              type: 'bar',
              data: {
                  labels: ['work', 'game', 'offline', 'unallocated'],
                  datasets: [{
                    label: 'time',
                    data: [30, 20, 60, 3],
                    backgroundColor: [
                        'rgba(119, 255, 165, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                    ],
                    borderRadius: 10
                  }]
              }
          });
          </script>
        </user>
        <user>
          <!-- <i class="bi-github" role="img" aria-label="GitHub"></i> -->
          <img src="https://imgr.search.brave.com/hqZYO64KNnTnP0aCPBtpc6LEh_waX5sP_r1yX7ULnwE/fit/512/512/ce/1/aHR0cHM6Ly9jZG4z/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvYXZhdGFycy1j/b2xsZWN0aW9uLzI1/Ni80Ny01MTIucG5n"></img>
          <name>Jake</name><score class="low">-10</score><canvas id="myChart4"></canvas>
          <script>
          var ctx4 = document.getElementById('myChart4');
            var myChart4 = new Chart(ctx4, {
              type: 'bar',
              data: {
                  labels: ['work', 'game', 'offline', 'unallocated'],
                  datasets: [{
                    label: 'time',
                    data: [34, 50, 23, 10],
                    backgroundColor: [
                        'rgba(223, 193, 60, 0.5)',
                        'rgba(255, 139, 139, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                        'rgb(200, 200, 200, 0.5)'
                    ],
                    borderRadius: 10
                  }]
              }
          });
          </script>
        </user>
        <user>
          <!-- <i class="bi-github" role="img" aria-label="GitHub"></i> -->
          <img src="https://imgr.search.brave.com/s75WVDl7q8POOsEGhQhCKQdvvG2ABnRon9dXUH4rD20/fit/512/512/ce/1/aHR0cHM6Ly9jZG40/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvdXNlci1hdmF0/YXItZmxhdC1pY29u/cy81MTIvVXNlcl9B/dmF0YXItMDQtNTEy/LnBuZw"></img>
          <name>Berk</name><score class="bad">-45</score><canvas id="myChart5"></canvas>
          <script>
          var ctx5 = document.getElementById('myChart5');
            var myChart5 = new Chart(ctx5, {
              type: 'bar',
              data: {
                  labels: ['work', 'game', 'offline', 'unallocated'],
                  datasets: [{
                    label: 'time',
                    data: [34, 50, 23, 10],
                    backgroundColor: [
                        'rgba(223, 193, 60, 0.5)',
                        'rgba(255, 139, 139, 0.5)',
                        'rgba(119, 255, 165, 0.5)',
                        'rgb(200, 200, 200, 0.5)'
                    ],
                    borderRadius: 10
                  }]
              }
          });
          </script>
        </user>
      </usergroups>
    </main>
    <nav>digiscore<add>+</add></nav>
    
  </body>


</html>